<div id="coupon-wrapper">
  	<div id="puzzleGame">
  		<div id="mask"><div id="start">START</div></div>
  	</div>

  	<div id="chest">
  		<div id="chest-msg">Solve and Get Coupon<br>(or just force open the chest?)</div>
  		<button id="box" type"button"><img id="chestbox" src="/images/chestboxclose.jpg"></button>
  	</div>
</div>

<script src="/javascript/puzzleJS.js"></script>
