
#puzzleGame{
	position: relative;
}

#mask{
	margin-left:auto; 
    margin-right:auto;
	width:365px;
	height:365px;
	background:rgba(188,188,242,0.9);
	position: absolute; top:0; left:0; bottom: 0; right: 0;
}

#start{
	font-family: "Arial";
	position: absolute;
	
	font-size: 20px;
	height:100px;
	width: 100px;
	top: 50%;

	left: 50%;
	transform: translate(-50%,-50%);

	border: 5px outset;
	border-color:rgba(188,188,242,0.9);
	text-align: center;
	vertical-align: middle;
	line-height: 100px; 
	
}

#start:hover{
	font-size:200%;
	border: 5px inset;
	background:rgba(188,188,242);
	border-color:rgba(188,188,242,0.9);
}

#puzzleGame img{
	width:120px;
}

#puzzleGame table, tr, td  {
    border: 0.5px solid;
    border-collapse: collapse;
}

#puzzleGame table{
    margin-left:auto; 
    margin-right:auto;
	width:360px;
	height: 350px
}

#chest{
    margin: 20px auto;
	background:#f3f3f3;
	border-radius: 10px;
	width:365px;
	height: 250px;
}

#coupon-wrapper{
	text-align:center;
}

#chest-msg{
	font-size: 20px;
	background: #bcbcf2;
}

#box{
	margin:20px auto;
	width: 158px;
	border:none;
	background: #f3f3f3;
}

#chestbox{
	border:3px solid;
	border-color: #e6e6fa;
	width: 148px;
}